##### Naive Bayes part-1 taitanic

In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('Naive_Bayes_Taitanic_data.csv')
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [10]:
df=df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [33]:
inputs=df.drop('Survived',axis='columns')
target=df.Survived

In [34]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [35]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

####  I am dropping male column as well because of dummy variable trap theory. One column is enough to repressent male vs female

In [36]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [37]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [38]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [39]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [40]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.3)

In [42]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [43]:
model.fit(x_train,y_train)

GaussianNB()

In [44]:
model.score(x_test,y_test)

0.7723880597014925

In [45]:
x_test[0:10]

     Pclass   Age     Fare  female
509       3  26.0  56.4958       0
230       1  35.0  83.4750       1
566       3  19.0   7.8958       0
731       3  11.0  18.7875       0
177       1  50.0  28.7125       1
162       3  26.0   7.7750       0
312       2  26.0  26.0000       1
688       3  18.0   7.7958       0
836       3  21.0   8.6625       0
765       1  51.0  77.9583       1

In [47]:
y_test[0:10]

509    1
230    1
566    0
731    0
177    0
162    0
312    0
688    0
836    0
765    1
Name: Survived, dtype: int64

In [50]:
model.predict(x_test[0:10])

array([0, 1, 0, 0, 1, 0, 1, 0, 0, 1], dtype=int64)

In [53]:
model.predict_proba(x_test[:10])

array([[0.93531769, 0.06468231],
       [0.02055053, 0.97944947],
       [0.95787158, 0.04212842],
       [0.94676128, 0.05323872],
       [0.10786151, 0.89213849],
       [0.96428987, 0.03571013],
       [0.22412137, 0.77587863],
       [0.95665539, 0.04334461],
       [0.96019797, 0.03980203],
       [0.0277156 , 0.9722844 ]])

##### Calculate the score using cross validation

In [58]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),x_train,y_train)

array([0.744     , 0.816     , 0.824     , 0.80645161, 0.73387097])